@import url("./flexbox.css");
@import url("./utility.css");

:root {
    --theme-color: #2e86ab; 
    --theme-light-color: #cfd8dc; 
    --theme-offset-color: #37474f; 
    --theme-dark-color: #263238; 

    --grey-900: #90a4ae; 

    --color-white: #ffffff; 
    --color-black: #000000; 
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/625/872/original/soft-abstract-background-in-light-pastel-colors-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar-container {
    min-height: 100vh;
    position: fixed;
    width: 20.5%;
    background-color: #f0f0f0; 
    box-shadow: 1px 0px 5px 0px #dfdfdf;
    transition: background-color 0.3s ease; 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/625/872/original/soft-abstract-background-in-light-pastel-colors-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar-container__brand {
    background-color: #a6ced1; 
    color: var(--color-black);
    font-weight: 500;
    text-align: center;
    padding: 16px;
    font-size: 20px;
    letter-spacing: 0.025em;
    transition: background-color 0.3s ease; 
}

.sidebar-container__brand:hover {
    background-color: #7aa4a8; 
}

.sidebar-container__list ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 30px 15px;
    border-radius: 30px;
    background-color: #e6b8ca; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.sidebar-container__list ul li a:hover {
    background-color: #d090a8; /* Darker Pink on hover - Adjust as needed */
    transform: scale(1.05); /* Add a slight scale effect on hover */
}

.sidebar-container__list ul li a span {
    color: var(--color-black);
    transition: color 0.3s ease; /* Add smooth color transition */
}

.sidebar-container__list ul li a:hover span {
    color: #fff; /* White text on hover - Adjust as needed */
}

.sidebar-container__list ul li a.active-item {
    background-color: #96c0d4; /* Pastel Blue - Adjust as needed */
    color: var(--color-white);
}

.sidebar-container__list ul li a.active-item span {
    color: inherit;
}


/* layout container */

.layout-container {
    position: relative;
    margin-left: 20.5%;
    width: 100%;
    padding: 0px 16px 16px;
    min-height: 100vh;
}

.layout-container__wrapper {
    position: relative;
    margin: 16px 0;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 2px rgba(46, 102, 122, 0.1);
    min-height: 400px;
}

.layout-container__wrapper hr {
    opacity: 0.25;
}

.layout-container__expenses ul {
    padding-left: 0;
}

.layout-container__expenses ul li {
    padding: 12px 16px;
    background-color: var(--grey-900);
    margin-bottom: 20px;
    border-radius: 6px;
}

.layout-container__expenses ul li .title {
    color: var(--color-black);
    align-self: center;
    font-weight: 500;
    padding: 0 10px;
}

.layout-container__expenses ul li .date,
.layout-container__expenses ul li .pill {
    background-color: var(--theme-dark-color);
    padding: 8px 16px;
    border: 1px solid var(--color-white);
    font-size: 16px;
    border-radius: 16px;
    color: var(--color-white);
    line-height: 1.67;
}

.layout-container__expenses ul li .date .day {
    font-size: 20px;
}

.layout-container__expenses ul li .pill {
    align-self: center;
    background-color: var(--theme-color);
    margin-right: 10px;
}

.layout-container__expenses ul li .material-icons {
    font-size: 20px;
    cursor: pointer;
    padding: 0 4px;
}

.layout-container__expenses ul li button.actions {
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0 4px;
}

.layout-container__expenses ul li .material-icons.edit {
    color: var(--theme-dark-color);
}

.layout-container__expenses ul li .material-icons.delete {
    color: rgb(143, 7, 7);
}

/* Form Layout */
.layout-container__wrapper form {
    margin: 40px 0;
}

.layout-container__wrapper form .form-wrap {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}

.layout-container__wrapper form .form-wrap label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.layout-container__wrapper form .form-wrap .form-input,
.layout-container__wrapper form .form-wrap .form-select,
.layout-container__wrapper form .form-wrap .form-textarea {
    font-family: 'Roboto', sans-serif;
    padding: 12px 8px;
    font-size: 16px;
    height: 100%;
    margin-bottom: 0;
    border: 1px solid var(--theme-offset-color);
    border-radius: 20px;
}

.layout-container__wrapper form .form-wrap .form-textarea {
    resize: none;
}

.layout-container__wrapper form .form-wrap .form-select {
    padding: 13px 8px;
}

.layout-container__wrapper form .form-wrap .form-input:hover,
.layout-container__wrapper form .form-wrap .form-select:hover,
.layout-container__wrapper form .form-wrap .form-textarea:hover {
    border: 1px solid var(--theme-color);
}

button.btn {
    margin-top: 10px;
    padding: 12px 20px;
    border-radius: 50px;
    box-shadow: none;
    outline: none;
    border: 0;
    color: white;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #d090a8;;
}

button[type="reset"] {
    background-color: rgb(57, 114, 135);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
